<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- source : web dev simplied on youtube via github -->

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="#" />
  <title>New Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS links -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/meanmenu.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="blogPostBody">

  <!-- HEADER BEGINS-->
    <header>
      <div class="top-bar d-none d-md-block">
          <div class="container">
              <div class="row d-flex align-items-center">
                  <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-0 col-md-7 offset-md-1">
                      <div class="header-info">
                          <span><i class="fas fa-phone"></i> Emergency Number (215) 686-4420</span>
                          <span><i class="fas fa-envelope"></i> namiphilly.org</span>
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-6 col-md-4">
                      <div class="header-top-right-btn f-right">
                          <a href="/therapistdirectory" class="btn">Find a Therapist</a>
                      </div>
                  </div>
              </div>
         </div>
      </div>
      <!-- menu-area -->
      <div class="header-menu-area">
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                      <!-- <div class="logo logo-circle pos-rel">
                          <a href="index.ejs"><img src="img/logo/logo.png" alt=""></a>
                      </div> -->
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9">
                      <div class="header__menu f-right">
                          <nav id="mobile-menu">
                              <ul>
                                  <li><a href="/profile">Home </a>
                                      <ul class="submenu">
                                          <li><a href="https://simeonwright.github.io/My-Portfolio/">Founder About Me</a></li>
                                          <li><a href="namiphilly.org">Resources</a></li>
                                        
                                      </ul>
                                  </li>
                                  
                                  <li><a href="/therapistdirectory">Therapist</a></li>
                                  <li><a href="/doctor">Affirmations</a>
                                  </li> 
                                  <li><a href="/">Log Out</a>
                                </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </header>
  <!-- HEAD END -->

   <!-- TITLE SECTION-->
   <section class="breadcrumb-bg pt-200 pb-180" data-background="">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="page-title">
                    <p class="small-text pb-15">If you want to fly, you have to give up the things that weigh you down. - Toni Morrison</p>
                    <h1>Most Recent Battle Won...</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TITLE SECTION END -->

<!-- MAIN BLOG POST -->
 
    

<section class="blog-area pt-120 pb-120">



  
  <div class="container"> 
    <a href="/postyaemotions" class="btn btn-outline-dark">Make New Post</a>   
      
    <% article.forEach(postyaemotions => { %>
    <!-- this connects to the db on mongo, make sure that the collection key value pairs match up to the js variables -->
    
    <div class="card mt-4">

      <!-- FIRST BLOG POST -->
      <div class="col-lg-6 col-md-6">

        <!-- IMAGE -->
        <!-- <div class="postbox__thumb">
          <a href="/viewemotion/<%= postyaemotions._id %>">
              <img src="img/img3.jpg" alt="image of black man joy">
          </a>
      </div> -->
      <!-- END IMAGE -->

    <a href="/viewemotion/<%= postyaemotions._id %>">  <h4  class="blog-title blog-title-sm"><%= postyaemotions.title %> </h4> </a>


        <div class="card-subtitle text-muted mb-2">
          <%= postyaemotions.createdAt %>
        </div>
        <div class="card-text mb-2"><%= postyaemotions.description %></div>


        <form action="/emotions/<%= postyaemotions._id %>" method="DELETE" class="d-inline">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>

        <a href="/edit/<%= postyaemotions._id %>" class="btn btn-outline-dark">Edit</a>


        <a href="/viewemotion/<%= postyaemotions._id %>" class="btn btn-outline-dark">Read More</a>


      </div>
    </div>
    <% }) %>
    
            </article>
          
      
  </div>





  <!-- FOOT BEGINS -->
  <footer>
    <div class="footer-top primary-bg footer-map pos-rel pt-120 pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-contact-info footer-contact-info-3 mb-40">
                        <div class="footer-logo mb-35">
                            <a href="#"><img src="img/logo/footer-logo-3.png" alt=""></a>
                        </div>
                        <div class="footer-contact-content mb-25">
                            <p>Aya Wellness Connection was created in 2022 to bridge the gap between Black men seeking mental health professionals and Black male mental health professionals in the greater Philadelphia area..</p>
                        </div>
                        <div class="footer-emailing">
                            <ul>
                                <li><i class="far fa-envelope"></i>Emergency Number (215) 686-4420</li>
                                <li><i class="far fa-clone"></i>namiphilly.org</li>
                                <li><i class="far fa-flag"></i>4641 Roosevelt Blvd Philadelphia, PA 19124</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-widget mb-40">
                        
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title">
                            <h3>News Feeds</h3>
                        </div>
                        <div class="blog-feeds pr-15">
                            <div class="signle-blog-feeds mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-1.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://augustafreepress.com/news/black-and-male-why-chris-jones-may-not-have-sought-help-for-an-undiagnosed-mental-health-condition/">Black and male: Why Chris Jones may not have sought help for mental-health condition</a></h5>
                                    <span class="feeds-date">16 November 2022</span>
                                </div>
                            </div>
                            <div class="signle-blog-feeds mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-2.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://www.ebony.com/black-men-weigh-in-on-their-favorite-forms-of-self-care/">BLACK MEN WEIGH IN ON THEIR FAVORITE FORMS OF SELF-CARE</a></h5>
                                    <span class="feeds-date">11 November 2022</span>
                                </div>
                            </div>
                            <div class="signle-blog-feeds  mb-20">
                                <div class="blog-feeds-thumb">
                                    <a href="news-details.html"><img src="img/blog/feeds-thumb-3.jpg" alt=""></a>
                                </div>
                                <div class="blog-feeds-text">
                                    <h5><a href="https://www.tmj4.com/news/local-news/its-okay-to-be-hurt-milwaukee-barbers-learn-how-to-become-mental-health-advocates-for-black-men">'It's okay to be hurt': Milwaukee barbers learn how to become mental health advocates for Black men</a></h5>
                                    <span class="feeds-date">7 November 2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-25 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-copyright footer-copyright-3 text-center">
                        <p>Copyright by@ Get Wright Development - 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOT ENDS -->
  

</body>

</html>
