<!doctype html>
<html>

<head>
  <title>AYA WELLNESS CONNECTION</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  


   <!-- CSS here -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/animate.min.css">
   <link rel="stylesheet" href="css/nice-select.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/all.min.css">
   <link rel="stylesheet" href="css/meanmenu.css">
   <link rel="stylesheet" href="css/slick.css">
   <link rel="stylesheet" href="css/default.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <a href="/doctor" class="btn btn-default btn-sm">Click here to see api function (mood tracker)</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      </div>
      <!-- <div class="col-sm-6">
        <h3>Messages</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span>
                <%= messages[i].name %>
              </span>
              <span>
                <%= messages[i].msg %>
              </span>
              <span class="hidden">
                <%= messages[i].thumbUp %>
              </span>
              <span class="hidden">
                <%= messages[i].thumbDown %>
              </span>
              <span>
                <%= messages[i].thumbUp - messages[i].thumbDown %>
              </span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
        </ul> -->


        <% if (user.local.email) { %>
          <div class="top-bar d-none d-md-block">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-7 offset-md-1">
                  <div class="header-info">
                    <span>An individual who wears this symbol suggest that he has endured many adversities and outlasted
                      much diffucilty</span>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-4">
                  <div class="header-top-right-btn f-right">
                    <a href="appoinment.html" class="btn">Stay Blessed</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- menu-area -->
          <div class="header-menu-area">
            <div class="container">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
                  <div class="logo logo-circle pos-rel">
                    <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9">
                  <div class="header-right f-right">
                    <div class="header-lang f-right pos-rel d-none d-lg-block">
                      <div class="lang-icon">
                        <img src="img/icon/lang.png" alt="">
                        <span>EN<i class="fas fa-angle-down"></i></span>
                      </div>
                      <!-- <ul class="header-lang-list">
                                      <li><a href="#">USA</a></li>
                                      <li><a href="#">UK</a></li>
                                      <li><a href="#">CA</a></li>
                                      <li><a href="#">AU</a></li>
                                  </ul> -->
                    </div>
                    <div class="header-social-icons f-right d-none d-xl-block">
                      <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header__menu f-right">
                    <h2>AYA WELLNESS CONNECTION</h2>
                    
                  </div>
                  <div class="col-12">
                    <div class="mobile-menu"></div>
                  </div>
                </div>
              </div>
            </div>
            </header>
            <!-- header end -->

            <main>
              <!-- hero-area start -->
              <section class="hero-area">
                <div class="hero-slider">
                  <div class="slider-active">
                    <div class="single-slider slider-height d-flex align-items-center"
                      data-background="img/slider/slider-bg-1.jpg">
                      <div class="container">
                        <div class="row">
                          <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="hero-text">
                              <div class="hero-slider-caption ">
                                <h1 data-animation="fadeInUp" data-delay=".2s">SUPPORT IS POWER </h1>
                                
                                <!-- <h1 data-animation="fadeInUp" data-delay=".4s">Best Care & Better Doctor.</h1> -->
                                <p data-animation="fadeInUp" data-delay=".6s">A directory of Black Male Mental Health
                                  Proffesionals in the greater Philedelphia Area</p>
                              </div>
                              <div class="hero-slider-btn">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                                  class="btn btn-icon ml-0"><span>+</span>FREE 15min CONSULTATION</a>
                                <!-- ADD YOUTUBE VIDEO -->
                                <a data-animation="fadeInRight" data-delay="1.0s"
                                  href="https://www.youtube.com/watch?v=b_qAcqo4H3w" class="play-btn popup-video"><i
                                    class="fas fa-play"></i></a>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
              <!-- hero-area end -->
              <!-- about-area start -->
              <section class="about-area pt-120 pb-90">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-5">
                      <div class="medical-icon-brand-2">
                        <img src="img/about/medical-brand-icon-border.png" alt="">
                      </div>
                      <div class="about-left-side pos-rel mb-30">
                        <div class="about-front-img">
                          <img src="img/about/about-img.jpg" alt="">
                        </div>
                        <div class="about-shape">
                          <img src="img/about/about-shape.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                      <div class="about-right-side pt-55 mb-30">
                        <div class="about-title mb-20">
                          <h5>About Us</h5>
                          <h1>Short Story About AYA WELLNESS.</h1>
                        </div>
                        <div class="about-text">
                          <p>According to a 2018 study conducted by the American Psychology Association Center for Workforce Studies, Black men seeking mental health support prefer a same-race mental health professional.  Given that approximately only 4% of  the mental health professionals at the doctoral level are Black, Black men experience extremely difficulties finding their preference of therapist.  </p>
                          <p>Aya Wellness Connection was created in 2022 to bridge the gap between Black men seeking mental health professionals and Black male mental health professionals in the greater Philadelphia area. Our founder, Simeon Wright, created Aya Wellness as a result of his personal experience with therapy.    Simeon was 8 years old when his father died tragically.  As a Black boy experiencing traumatic grief, his mother placed Simeon and his three brothers in therapy within weeks of his father’s passing.  While the mental health professional was a capable, licensed, Black female therapist with a PhD, Simeon clearly recalls being unable to conduct  with her.  “I remember walking into her office each week and immediately disengaging.  Sometimes, I would put my head on the table or spin in my chair.  I clearly remember crawling under the table and staying there until our session was over.  I couldn’t imagine how this woman could relate to me, as a Black boy, missing his father.”  In hindsight, our founder truly believes that his initial experience with therapy may have been a more positive experience if he was under the care of a Black male therapist.  While it is never our intention to state, imply or suggest that Black female therapists are not capable of providing stellar care to any and all clients, the goal of Aya Wellness Connection is to simply make the process of locating a Black male therapist easier for those in search of one.  
                          </p><br>
                        </div>
                        <div class="about-author d-flex align-items-center">
                          <div class="author-desination">
                            <h4>Simeon Wright</h4>
                            <h6>founder</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- about-area end -->
              <!-- services-area start -->
              <section class="servcies-area gray-bg pt-115 pb-90">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                      <div class="section-title text-center pos-rel mb-75">
                        <div class="section-icon">
                          <img class="section-back-icon" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                          <h5>Specialties</h5>
                          <h1>What area of support are you seeking</h1>
                        </div>
                        <div class="section-line pos-rel">
                          <img src="img/shape/section-title-line.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service1.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">Racial Identity</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <a class="service-link" href="services-details.html">Read More</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service2.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">Mens's Issues</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <!-- <a class="service-link" href="services-details.html">Read More</a> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service3.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">Trauma and PTSD</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <a class="service-link" href="services-details.html">Read More</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service4.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">LGBTQ+</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <a class="service-link" href="services-details.html">Read More</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service5.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">Children and Teens</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <a class="service-link" href="services-details.html">Read More</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="service-box text-center mb-30">
                        <div class="service-thumb">
                          <!-- <img src="img/services/service6.png" alt=""> -->
                        </div>
                        <div class="service-content">
                          <h3><a href="#">Addiction</a></h3>
                          <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p> -->
                          <a class="service-link" href="services-details.html">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- services-area end -->
              <!-- team-area start -->
              <section class="team-area pt-115 pb-55">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                      <div class="section-title pos-rel mb-75">
                        <div class="section-icon">
                          <img class="section-back-icon back-icon-left" src="img/section/section-back-icon.png" alt="">
                        </div>
                        <div class="section-text pos-rel">
                          <h5>directory</h5>
                          <h1>LICESNED & PRE-PROFESIONALS</h1>
                        </div>
                        <div class="section-line pos-rel">
                          <img src="img/shape/section-title-line.png" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                      <div class="section-button text-right d-none d-lg-block pt-80">
                        <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                          class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member1.png" alt="">
                          <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Mahmoud Mohammad, Pre-Licensed Professional, MS</h3>
                          <h6>(223) 400-7850
                            Free 15 minute consultation
                            </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member2.png" alt=""> -->
                          <!-- <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Kenn Bourne, BA, MSW, LSW</h3>
                          <h6>(267) 356-4920
                            Free 15 minute consultations 
                            </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member3.png" alt=""> -->
                          <!-- <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Daniel Mack,  Pre-Licensed Professional</h3>
                          <h6>(215) 717-8908
                            Free 15 minute consultations
                            </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member4.png" alt=""> -->
                          <!-- <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Dothan C Landon-Freeman
                          </h3>
                          <h6>(215) 883-9048</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member5.png" alt=""> -->
                          <!-- <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Davier Daniels, Pre-Licensed Professional</h3>
                          <h6>(610) 890-7373
                            Free 15 minutes consultations
                            </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="team-box text-center mb-60">
                        <div class="team-thumb mb-45 pos-rel">
                          <!-- <img src="img/team/member6.png" alt="">
                          <a class="team-link" href="doctor-details.html">+</a> -->
                        </div>
                        <div class="team-content">
                          <h3>Jack Cottom, MA, LPC</h3>
                          <h6>(215) 709-9843</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- team-area end -->
              <!-- fact-area start -->
              <section class="fact-area fact-map primary-bg pos-rel pt-115 pb-60">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                      <div class="section-title pos-rel mb-45">
                        <div class="section-text section-text-white pos-rel">
                          <h5>We are available 24/7</h5>
                          <h1 class="white-color">We Always Ready For A Challenge.</h1>
                        </div>
                      </div>
                      <div class="section-button section-button-left mb-30">
                        <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                          class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                      </div>
                    </div>
                    <div class="col-lg-6 col-lg-6 col-md-8">
                      <div class="cta-satisfied">
                        <div class="single-satisfied mb-50">
                          <h1>1M+</h1>
                          <h5> <i class="fas fa-user"></i> Satisfied Patients</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna
                            aliqua.</p>
                        </div>
                        <div class="single-satisfied mb-50">
                          <h1>100+</h1>
                          <h5><i class="far fa-thumbs-up"></i> World Awards</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna
                            aliqua.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              </section>
              <!-- latest-news-area end -->

              <footer>
                <div class="footer-top primary-bg pt-115 pb-90">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-5 col-lg-6 col-md-8">
                        <div class="footer-contact-info mb-30">
                          <div class="emmergency-call fix">
                            <div class="emmergency-call-icon f-left">
                              <i class="fas fa-phone"></i>
                            </div>
                            <div class="emmergency-call-text f-left">
                              <h6>Emergency number
                              </h6>
                              <span>(215) 686-4420</span>
                            </div>
                          </div>
                          <div class="footer-logo mb-35">
                            <!-- <a href=""><img src="img/logo/footer-logo.png" alt=""></a> -->
                          </div>
                          <div class="footer-contact-content mb-25">
                            <p>Compassionate, trained professionals answer all calls 24-hours a day, 7 days a week.
                              Callers will have the opportunity to discuss their problem and will receive appropriate
                              counseling, guidance, assessment and referral for prompt treatment or other services if
                              necessary.</p>
                          </div>
                          <div class="footer-emailing">
                            <ul>
                              <!-- <li><i class="far fa-envelope"></i>info@examplemedical.com</li> -->
                              <li><i class="far fa-clone"></i>namiphilly.org</li>
                              <li><i class="far fa-flag"></i>4641 Roosevelt Blvd
                                Philadelphia, PA 19124</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
              </footer>
          </div>
          <% } %>

      </div>

      <script src="main.js"></script>

</body>

</html>